<div>
    <nav>
        <div><a routerLink='currency'class="r-link ai-element ai-element_type2 ai-element3" >Forex Conversion</a></div>
        <div><a routerLink='unitconversion' class="r-link ai-element ai-element_type2 ai-element3" >Unit Conversion</a></div>
        <div><a routerLink='payment' class="r-link ai-element ai-element_type2 ai-element3" >Payment Loader</a></div>
        <div><a routerLink='customer' class="r-link ai-element ai-element_type2 ai-element3" >Customer Pipes</a></div>
        <div><a routerLink='country' class="r-link ai-element ai-element_type2 ai-element3" >Country Details</a></div>
        <div><a routerLink='fraudpayment' class="r-link ai-element ai-element_type2 ai-element3" >FraudPayment</a></div>
    </nav>
</div>
<div>
    <router-outlet></router-outlet>
</div>
