<!-- <div>
    <h4>Login</h4>
    <div>
        <span>User ID</span>
        <div>
            <input type="text" [(ngModel)]="uid" placeholder="Enter Username">
        </div>
    </div>
    <div>
        <span>Password</span>
        <div>
            <input type="password" [(ngModel)]="pwd" placeholder="Enter Password">
        </div>
    </div>
    <div>
        <button (click)="handlelogin()" class="btn-btn">Login</button>
    </div>

</div>

<br>
<hr> -->

<body>
    <div class="page">
        <div class="intro-header">
            <div class="bg-image parallax-bg"></div>
            <div class="header-content row">
                <h1>Majestic Title</h1>
                <h2>An awesome subtitle</h2>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <form class="login">
                    <input type="text" [(ngModel)]="uid" placeholder="Username" name="User">
                    <input type="password" [(ngModel)]="pwd" placeholder="Password" name="password">
                    <button (click)="handlelogin()">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>