<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<div class="intro" style="text-align: center;">
  <span style="text-align: center;"> 404 error</span>
  <br />
  <a href='http://localhost:4200/login' class="intro" style="text-align: center;">return!</a>
</div>
<small style="text-align: center;">We probably lost your page</small>
<div id="fountainG" style="text-align: center;">
  <div id="fountainG_1" class="fountainG">
  </div>
  <div id="fountainG_2" class="fountainG">
  </div>
  <div id="fountainG_3" class="fountainG">
  </div>
  <div id="fountainG_4" class="fountainG">
  </div>
  <div id="fountainG_5" class="fountainG">
  </div>
  <div id="fountainG_6" class="fountainG">
  </div>
  <div id="fountainG_7" class="fountainG">
  </div>
  <div id="fountainG_8" class="fountainG">
  </div>
</div>